openai
requests
streamlit
streamlit-cropper
streamlit-drawable-canvas
streamlit-audiorec
# flask
tomli
tiktoken
langchain
langchain-experimental
ipykernel
bs4
webvtt-py
youtube-transcript-api
pytube
moviepy
pydub
chromadb 
tiktoken
pypdf
llama-index
google-search-results
duckduckgo_search
# elevenlabs